.Profile{
    margin: 1.75em 1.5em 1.5em 1.5em;
    min-height: 48px;
    text-align: right;
}
.Profile img{
    width: 44px;
}
.Profile h1{
    color: #fff;
    font-weight: 600;
    font-size: 1em;
    line-height: 1em;
}
.Profile p{
    font-size: 0.6em;
    color: rgba(255, 255, 255, 0.5);
    line-height: 1.25em;
    margin: 0.5em 0 0 0;
}