.Leadership{
    background-color: #f5fafa;
    box-sizing: content-box;
    color: #666;
    text-align: center;
    min-height: 100vh;
}
.Leadership h1,
.Leadership h2,
.Leadership h3{
    letter-spacing: -1px;
    color: inherit;
    font-weight: 200;
    line-height: 1.5;
}
.Leadership h1{
    font-size: 2.5em;
}
.Leadership h2{
    font-size: 2em; 
}
.Leadership p{
    color: inherit;
    line-height: 2em;
}
.Leadership img{
    width: 100%;
    max-width: 500px;
    border: 1px solid lightgray;
}
.Wrapper{
    padding: 1em 3em;
    text-align: left;
}