.Layout{
    display: flex;
}
.LeftSection{
    position: fixed;
    background-color: #222629;
    width: 300px;
    box-sizing: content-box;
    min-height: 100vh;
    overflow-x: hidden;
}

.LeftSection,
.LeftSection a,
.LeftSection a:visited{
    color: #aeb2b7;
}

.RightSection{
    position: relative;
    left:300px;
    width: calc(100% - 300px);
    background-color: #f5fafa; 
}

@media only screen and (max-width: 900px){
    .LeftSection{
        transform: translateX(-300px);
        transition: transform 0.6s ease-out;
        z-index: 10;
        overflow-y: scroll;
        height: 100vh;
    }

    .Open{
        transform: translateX(0);
    }

    .RightSection{
        left: 0;
        width: 100%;
    }

    .SiteContent{
        margin-top: 50px;
    }
}